
@{
    ViewData["Title"] = "ConfirmChangeEmail";
}

<div class="d-flex h-100">
    <div class="m-auto">
        <div class="form-group">
            <p>Your Changing Email process is confirmed. Please check new Email for confirm.</p>
        </div>
    </div>
</div>

