
@{
    ViewData["Title"] = "Your Email is confirmed.";
}

<div class="d-flex h-100">
    <div class="m-auto">
        <div class="form-group">
            <p>Your Email is confirmed. You can login now.</p>
        </div>

        <div class="form-group">
            <a class="btn btn-primary" href="@Url.Action("Login","Authentication")">Login</a>
        </div>
    </div>
</div>

